# All path locations should use "\\" and cannot end with a "\\"
TEMPLATE_DIR="ABSOLUTE_PATH"
BID_DIR="ABSOLUTE_PATH"

# File name cannot start with "\\" and must end with ".xlsx"
TEMPLATE_FILE="EXAMPLE_WORKBOOK.xlsx"

# Testing setup
# Default project name is "Unit_Test"
TEST_DIR="ABSOLUTE_PATH"
TEST_FILE="Unit_Test\\PRICING\\FILE_NAME.xlsx"
CHECK_FILE="Unit_Test\\PRICING\\FILE_NAME MANUAL.xlsx"
NUM_ROWS="6"
DRILLED="True"